body {
    background-color: #FFFFFF;
    color: #333333;
    font-size: 16px;
    margin: 0;
    padding: 100px;
    font-family: Arial, sans-serif;
    zoom: 100%;
}
h1 {
    text-align: left;
    font-size: 36px;
    margin-top: 30px;
    margin-bottom: 30px;
}
nav {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding: 20px;
    background-color: #1E2D57;
    color: #FFFFFF;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}
nav div span {
    display: table-cell;
    height: 30px;
    font-size: 25px;
    text-decoration: none;
}
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

header {
    background-color: #0072c6;
    color: #ffffff;
    padding: 20px;
    text-align: center;
}

h1 {
    margin-top: 0;
    font-size: 36px;
    font-weight: bold;
}

nav {
    background-color: #ffffff;
    border: 1px solid #0072c6;
    border-radius: 6px;
    box-shadow: 0 2px 2px rgba(0,0,0,0.1);
    display: flex;
    margin: 20px 0;
    overflow: hidden;
    text-align: center;
    padding: 10px;
}

nav a {
    color: #000000;
    display: block;
    float: left;
    margin: 0 10px;
    padding: 10px 20px;
    text-decoration: none;
    text-align: center;
    transition: background-color 0.3s ease;
}

nav a:hover {
    background-color: #0072c6;
    color: #ffffff;
}

#funcList button{
    display: inline-block;
    width: 200px;
    height: 60px;
    padding: 8px;
    color: #000000;
    background-color: #ffffff;
    border: 1px solid #fff;
    text-align: center;
    font-size: 16px;
    font-style: normal;
    outline: none;
}
#funcList button:hover,
#funcList button:active{
    background-color: #0072c6;
    color: #FFFFFF;
    transition: background-color 0.3s ease;
    cursor: pointer;
}


input[type=text], input[type=password], input[readonly]{
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
}

input[type=text]:focus, input[type=password], input[readonly]:focus {
    background-color: #ddd;
    outline: none;
}
.buttonClass #updateClientData{
    display: inline-block;
    padding: 8px;
    margin-left: 80%;
    color: #0072c6;
    background-color: #ffffff;
    border: 1px solid #fff;
    font-size: 16px;
    outline: none;
}
.buttonClass #updateClientData:hover{
    transition: background-color 0.3s ease;
    cursor: pointer;
    text-decoration: underline;
}



