body {
    background-color: #FFFFFF;
    color: #333333;
    font-size: 16px;
    margin: 0;
    padding: 100px;
    font-family: Arial, sans-serif;
    zoom: 100%;
}
h1 {
    text-align: left;
    font-size: 36px;
    margin-top: 30px;
    margin-bottom: 30px;
}
nav {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding: 20px;
    background-color: #1E2D57;
    color: #FFFFFF;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}
nav div span {
    display: table-cell;
    height: 30px;
    font-size: 25px;
    text-decoration: none;
}
.containerDataClient {
    display: none;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

header {
    background-color: #0072c6;
    color: #ffffff;
    padding: 20px;
    text-align: center;
}

h1 {
    margin-top: 0;
    font-size: 36px;
    font-weight: bold;
}

nav {
    background-color: #ffffff;
    border: 1px solid #0072c6;
    border-radius: 6px;
    box-shadow: 0 2px 2px rgba(0,0,0,0.1);
    display: flex;
    margin: 20px 0;
    overflow: hidden;
    text-align: center;
    padding: 10px;
}

nav a {
    color: #000000;
    display: block;
    float: left;
    margin: 0 10px;
    padding: 10px 20px;
    text-decoration: none;
    text-align: center;
    transition: background-color 0.3s ease;
}

nav a:hover {
    background-color: #0072c6;
    color: #ffffff;
}

#funcList button{
    display: inline-block;
    width: 200px;
    height: 60px;
    padding: 8px;
    color: #000000;
    background-color: #ffffff;
    border: 1px solid #fff;
    text-align: center;
    font-size: 16px;
    font-style: normal;
    outline: none;
}
#funcList button:hover,
#funcList button:active{
    background-color: #0072c6;
    color: #FFFFFF;
    transition: background-color 0.3s ease;
    cursor: pointer;
}


input[type=text], input[type=password], input[readonly], input[type=date]{
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
}

input[type=text]:focus, input[type=password], input[readonly], input[type=date]:focus {
    background-color: #ddd;
    outline: none;
}
.buttonClass #updateClientData{
    display: inline-block;
    padding: 8px;
    margin-left: 80%;
    color: #0072c6;
    background-color: #ffffff;
    border: 1px solid #fff;
    font-size: 16px;
    outline: none;
}
.buttonClass #updateClientData:hover{
    transition: background-color 0.3s ease;
    cursor: pointer;
    text-decoration: underline;
}

.newDocuments{
    display: none;
}

.newDocuments .requestVisa #buttonCreateReqVisa{
    border: none;
    background-color: #4CAF50;
    color: white;
    padding: 16px 20px;
    margin: 8px 0;
    border-radius: 10px;
    cursor: pointer;
    width: 200px;
    opacity: 0.9;
}
.newDocuments .requestVisa #buttonCreateReqVisa:hover{
    background-color: #FFFFFF;
    color: #EC4E20;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}


.requestPassport #buttonCreateReqPassport{
    border: none;
    background-color: #4CAF50;
    color: white;
    padding: 16px 20px;
    margin: 8px 0;
    border-radius: 10px;
    cursor: pointer;
    width: 200px;
    opacity: 0.9;
}

.requestPassport #buttonCreateReqPassport:hover{
    background-color: #FFFFFF;
    color: #EC4E20;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

.requestAppointment #buttonCreateReqAppointment{
    border: none;
    background-color: #4CAF50;
    color: white;
    padding: 16px 20px;
    margin: 8px 0;
    border-radius: 10px;
    cursor: pointer;
    width: 200px;
    opacity: 0.9;
}

.requestAppointment #buttonCreateReqAppointment:hover{
    background-color: #FFFFFF;
    color: #EC4E20;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

select {
    font-size: 14px;
    font-weight: bold;
    background-color: #fff;
    border: 2px solid #0072c6;
    content: "";
    color: #000000;
    padding: 6px 12px;
    border-radius: 4px;
    cursor: pointer;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

select:hover,
select:focus {
    border-color: #EC4E20;
    outline: none;
}

option {
    font-weight: normal;
    padding: 6px 12px;
    font-size: 14px;
}

.requestVisa{
    display: none;
    padding: 25px;
}
.requestPassport{
    display: none;
    padding: 25px;
}
.requestAppointment{
    display: none;
    padding: 25px;
}

.myDocuments{
    display: none;
}

.blocksData{
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    flex-shrink: 1;
}

.doc-item, .doc-item-3 {
    /*position: absolute;
    margin-top: 5%;
    margin-left: 13%;
    margin-right: 50%;*/
    align-self: flex-start;
    width: 200px;
    height: 200px;
    margin: 10px;
    text-align: center;

    padding: 10px 10px 5px 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    border: 1px solid ghostwhite;
    background: ghostwhite;
    border-radius: 10px;
    font-family: "Open Sans", serif;
    font-size: 20px;
    overflow: hidden;
    transition: .4s linear;
}

.doc-id {
    margin-top: 15px;
    text-align: left;
}

.doc-id h3 {
    font-weight: 700;
    color: #39404B;
    margin: 0;
    text-transform: revert;
    font-size: 20px;
    line-height: 2;
    text-align: left;
}

.passportData {
    color: black;
    display: block;
    margin-bottom: 12px;
    text-align: left;
}

.doc-reg h3{
    margin-top: 15%;
    font-size: 22px;
    text-align: left;
}
.registration{
    color: black;
    display: block;
    margin-bottom: 12px;
    text-align: left;
}
.doc-reg h4{
    color: grey;
    margin: 0;
    text-transform: revert;
    font-size: 17px;
    line-height: 2;
    text-align: left;
}

/*.doc-item-3 {
    !*position: absolute;
    margin-left: 50%;
    margin-top: 5%;*!

    !*width: 300px;*!
    padding: 10px 10px 5px 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    border: 1px solid ghostwhite;
    background: ghostwhite;
    border-radius: 10px;
    font-family: "Open Sans", serif;
    font-size: 20px;
    overflow: hidden;
    transition: .4s linear;
}*/

.doc-passport {
    /*margin-top: 15px;
    text-align: left;*/
    text-align: left;
}

.doc-visa{
    /*margin-top: 15px;
    text-align: left;*/
    text-align: left;
}

.doc-passport h3 {
    color: #39404B;
    margin: 0;
    text-transform: revert;
    font-size: 20px;
    line-height: 2;
}

.doc-visa h3{
    color: #39404B;
    margin: 0;
    text-transform: revert;
    font-size: 20px;
    line-height: 2;
}

.doc-passport h4{
    color: grey;
    margin: 0;
    text-transform: revert;
    font-size: 17px;
    line-height: 2;
}

.doc-visa h4{
    color: grey;
    margin: 0;
    text-transform: revert;
    font-size: 17px;
    line-height: 2;
}

.intPassportData {
    color: black;
    /*display: block;
    margin-bottom: 12px;*/
}
.organization {
    color: black;
    display: block;
    margin-bottom: 12px;
}
.dateStart {
    color: black;
    display: block;
    margin-bottom: 12px;
}
.dateEnd {
    color: black;
    display: block;
    margin-bottom: 12px;
}

.doc-item-4 {
    /*position: absolute;
    margin-top: 23%;
    margin-right: 37%;*/
    /*width: 300px;*/
    width: 200px;
    height: 200px;
    margin: 10px;

    padding: 10px 10px 5px 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    border: 1px solid ghostwhite;
    background: ghostwhite;
    border-radius: 10px;
    font-family: "Open Sans", serif;
    font-size: 20px;
    overflow: hidden;
    transition: .4s linear;
}

.doc-item-2{
    /*position: absolute;
    margin-top: 65%;
    margin-right: 49%;*/

    width: 200px;
    height: 100px;
    margin-top: 50px;

}

.textBlocks{
    justify-content: left;
    align-items: flex-start;
}

.myAppointment{
    display: none;
}

.reqAppointment, .reqIntPassport, .reqVisa {

}
ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

li {
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid black;
    border-radius: 5px;
}

.date {
    font-weight: bold;
    color: #007bff;
}

.employee {
    margin-top: 5px;
    font-style: italic;
}

.description {
    margin-top: 5px;
}

.hidden {
    display: none;
}
.putButton{
    display: inline-block;
    padding: 8px;
    color: #007bff;
    background-color: #ffffff;
    border: 1px solid #fff;
    border-radius: 30px;
    text-align: center;
    font-size: 16px;
    font-style: normal;
    outline: none;
}

.putButton:hover,
.putButton:active{
    background-color: #6C8AD5;
    color: #FFFFFF;
    transition: background-color 0.3s ease;
    cursor: pointer;
}
.buttonEditBlList{
    color: blue;
    background-color: transparent;
    border: none;
    text-decoration: underline;

}